* {
    background-color: sandybrown;
    background-image: url('https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
} 

h1 {
    color: white;
    font-weight: 600;
    text-align: center;
}
.title {
    font-size: 50px;
}
.img {
    height: 300px;
    width: auto;
}
 
p {
    color: white;
    font-size: 20px;
}
.container {
    text-align: center;
}

.buy {
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 white;
    background-color: aqua;
}

.buy:hover {
    background-color: red;
}