* {
    background-color: rgb(240, 189, 137);
    background-image: url('https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
    text-decoration: none;
    color: white;
} 

h1 {
    color: white;
    font-weight: 600;
    text-align: center;
}

.name {
    font-size: 40px;
}
li {
    height: 400px;
    width: 400px;
    border: white 10px solid;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    height: 250px;
    width: 250px;
}

.makeNew {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

nav {
    text-align: center;
}